{% extends 'base.html.twig' %}

{% block title %}Hello FormController!{% endblock %}

{% block body %}
   <div class="row">
      <div class="col"></div>
      <div class="col">
         {{ form(form) }}
      </div>
      <div class="col"></div>
   </div>
<script>
   function checkBox(divID)//this will run on change of the textbox
   {
      let checkBox = divID.parentNode.parentNode.children[1].lastChild;
      /**
       * parentNode.parentNode = div for the entire InformationType field
       * child[1] div for the textFieldDiv
       * lastChild to get textArea, first child will give label
       */
      if(divID.checked)//cant do a not value since sometimes the form might have the check field already pressed
      {
         checkBox.disabled = false;
      }else
      {
         checkBox.disabled = true;
         checkBox.value="";
      }
   }
</script>
{% endblock %}
