{% extends 'base.html.twig' %}

{% block title %}Hello FormController!{% endblock %}

{% block body %}
   <div class="row">
      <div class="col"></div>
      <div class="col">
         <div class="form-group">
            {{ form(patientForm) }}
            {{ form_end(patientForm) }}
         </div>

      </div>
      <div class="col"></div>
   </div>

{% endblock %}
