{% extends 'base.html.twig' %}

{% block title %}Hello PatientController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col"></div>
        <div class="col">
            {{ form_start(form) }}
                {{ form_row(form.searchQuery) }}
                {{ form_row(form.submit) }}
            {{ form_end(form) }}
        </div>
        <div class="col"></div>
    </div>
{% endblock %}

