{% extends 'base.html.twig' %}

{% block title %}Hello PatientController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col"></div>
        <div class="col">
            {% if patients %}
                <ul class="list-group">
                    {% for i in patients %}
                        <a href="{{ path("app_patient_details", {'id' : i.id}) }}">
                            <li class="list-group-item">
                                Name :
                                {{ i.firstname }}
                                {{ i.surname }}
                                DOB :
                                {{ i.dobStr }}
                            </li>
                        </a>
                    {% endfor %}
                </ul>
            {% else %}
                <h1>no patients found </h1>
            {% endif %}
        </div>
        <div class="col"></div>
    </div>
{% endblock %}