{% extends 'base.html.twig' %}

{% block title %}Hello PatientController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col"></div>
        <div class="col">
            {% if patients %}
                {% for i in patients %}
                    <a href="{{ path("app_patient_details", {'id' : i.id}) }}">
                        {{ i.firstname  }}
                        {{ i.surname }}
                        {{ i.dobStr }}
                    </a>
                {% endfor %}
            {% else %}
                <h1>no patients found </h1>
            {% endif %}
        </div>
        <div class="col"></div>
    </div>
{% endblock %}