{% extends 'base.html.twig' %}

{% block title %}Hello PatientController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col"></div>
        <div class="col">
{#            {% for i in patients %}#}
{#                i.first_name#}
{#            {% endfor %}#}
        </div>
        <div class="col"></div>
    </div>
{% endblock %}